@model IEnumerable<MVC_2_Repository.Models.Unit>

@{
    ViewData["Title"] = "Index";

    SortModel sortModel = (SortModel)ViewData["sortModel"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <i class="@sortModel.GetColumn("name").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("name").SortExpression">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("description").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("description").SortExpression">
                    @Html.DisplayNameFor(model => model.Description)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
